body {
    margin: 0;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    color: white;   
}

.hero {
    background-color: cornflowerblue;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.boldonse {
    font-family: "boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.work-sans {
    font-family: "work sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul {
    list-style: none;
}

li {
    padding-top: 0,5%;
    padding-bottom: 0,5%;
}

#menu {
    display: none;
}

footer {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoscuola {
    height: 13vh;
    display: flex;
    align-items: center;
}


.imglogoscuola {
    height: 80%;
}

.info > a {
    text-decoration: none;
    background-color: darkcyan;
    color: white;
    padding: 10px 8px;
    border-radius: 10px;
}

footer > div {
    width: 33.3%;
    display: flex;;
    justify-content: center;
}